.App {
  text-align: center;
}

.App-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  padding: 2rem;
}

main {
  padding: 2rem;
  background-color: transparent;
}

section {
  margin-bottom: 4rem;
  padding: 2rem;
  background-color: rgba(26, 26, 26, 0.9);
  border-radius: 8px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: rgba(42, 42, 42, 0.9);
  padding: 1.5rem;
  border-radius: 8px;
  text-align: left;
}

.project-card h3 {
  margin-top: 0;
}

@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }

  .projects-container {
    grid-template-columns: 1fr;
  }
}

.tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skill-card {
  background-color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
}
